<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cockroach1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,37}</string>
                <key>spriteSourceSize</key>
                <string>{54,37}</string>
                <key>textureRect</key>
                <string>{{457,133},{54,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cockroach2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,44}</string>
                <key>textureRect</key>
                <string>{{399,133},{56,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{1,183},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crab2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{91,183},{88,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locust1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,32}</string>
                <key>spriteSourceSize</key>
                <string>{57,32}</string>
                <key>textureRect</key>
                <string>{{455,189},{57,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>locust2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,32}</string>
                <key>spriteSourceSize</key>
                <string>{68,32}</string>
                <key>textureRect</key>
                <string>{{313,183},{68,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>octopus1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{399,1},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>octopus2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{399,67},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pounder1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,32}</string>
                <key>spriteSourceSize</key>
                <string>{48,32}</string>
                <key>textureRect</key>
                <string>{{401,213},{48,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pounder2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,32}</string>
                <key>spriteSourceSize</key>
                <string>{54,32}</string>
                <key>textureRect</key>
                <string>{{399,179},{54,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapeShifter1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{181,183},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shapeShifter2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{247,183},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{197,89}</string>
                <key>spriteSourceSize</key>
                <string>{223,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{197,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{197,89}</string>
                <key>spriteSourceSize</key>
                <string>{223,115}</string>
                <key>textureRect</key>
                <string>{{1,92},{197,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{197,89}</string>
                <key>spriteSourceSize</key>
                <string>{223,115}</string>
                <key>textureRect</key>
                <string>{{200,1},{197,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{197,89}</string>
                <key>spriteSourceSize</key>
                <string>{223,115}</string>
                <key>textureRect</key>
                <string>{{200,92},{197,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vSkull1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,27}</string>
                <key>spriteSourceSize</key>
                <string>{42,27}</string>
                <key>textureRect</key>
                <string>{{357,217},{42,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vSkull2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,28}</string>
                <key>spriteSourceSize</key>
                <string>{42,28}</string>
                <key>textureRect</key>
                <string>{{313,217},{42,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemiesAnimation.png</string>
            <key>size</key>
            <string>{496,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bb2608eb3ef6b43c042745478c797e5:15f76a1dd44367cf0d9a81e60c22b60c:ab4b4837e9914915130dfb9981b33324$</string>
            <key>textureFileName</key>
            <string>enemiesAnimation.png</string>
        </dict>
    </dict>
</plist>
